$button-background:#ffffff;
$button-background--hover: #2a5587;
$button-background--disabled: #ffffff;

$button-color: #2a5587;
$button-color--hover: #ffffff;
$button-color--disabled: #2a5587;

$button-text-transform: uppercase;

$button-font-weight: 700;

$button-padding: 8px 16px;

$button-border-radius: 0;

$button-border-right: 2px solid #2a5587;
$button-border-left: 2px solid #2a5587;
$button-border-top: 2px solid #2a5587;
$button-border-bottom: 2px solid #2a5587;

$button-color--primary: rgb(255, 255, 255);
$button-color--primary--disabled: rgb(255, 255, 255);

$button-background--primary: #2a5587;
$button-background--primary--hover: #3669a5;
$button-background--primary--disabled: #3669a5;

$button-border-right--primary: 2px solid #2a5587;
$button-border-left--primary: 2px solid #2a5587;
$button-border-top--primary: 2px solid #2a5587;
$button-border-bottom--primary: 2px solid #2a5587;

$button-border-right--primary-hover: 2px solid #3669a5;
$button-border-left--primary-hover: 2px solid #3669a5;
$button-border-top--primary-hover: 2px solid #3669a5;
$button-border-bottom--primary-hover: 2px solid #3669a5;
