<!DOCTYPE html>
<html lang="nl-NL">
<head>
    <meta charset="utf-8">
    <%
    var title = page.title;
    %>
    <title>
        <% if (title){ %>
        <%= title %> |
        <% } %>
        <%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="<%- url_for('uno/components/favicon/ro-favicon-wit-0xffffff.png') %>">

    <%- css('uno/core/base') %>
    <%- css('uno/core/grid') %>
    <%- css('uno/components/lists/lists') %>
    <%- css('uno/components/header/header') %>
    <%- css('uno/components/footer/footer') %>
    <%- css('uno/components/collapse/collapse') %>
    <%- css('uno/components/navigation/navigation') %>
    <%- css('uno/components/navigation/breadcrumbs') %>
    <%- css('uno/components/navigation/backlink') %>
    <%- css('uno/components/navigation/sidenav') %>
    <%- css('uno/components/form/form') %>
    <%- css('uno/components/form/input') %>
    <%- css('uno/components/button/button') %>
    <%- css('uno/components/skiplink/skiplink') %>
    <%- css('uno/components/tabs/tabs') %>
    <%- css('css/main') %>

    <% if(page.styles) { %>
    <%- css(page.styles) %>
    <% } %>

    <% if(page.additionalStyles) { %>
    <%- css(page.additionalStyles) %>
    <% } %>

    <%- js('uno/vendor/js/Promise.min') %>
    <%- js('uno/vendor/js/system') %>

    <script>
        System.config({
            packages: {
                '/': {
                    defaultExtension: 'js'
                }
            }
        });
    </script>
</head>
