---
title: Aan de slag
layout: content-page
permalink: aan-de-slag/
skipBacklink: true
inpagenav: true
additionalStyles: [
  'uno/components/hint/hint.css',
  'uno/components/meta/meta.css',
  'uno/components/navigation/inpage.css'
]
---
<h1>Installatie</h1>
<aside class="hint">
    <span class="hint__title" lang="en-US">Uno en Uno Angular</span>
    Je bekijkt nu de documentatie van Uno. Er is ook een <a href="http://uno-angular.scs-lsz.ota.duo.nl/docs/demo#/introductiepagina">Uno Angular library</a>. Als je die gebruikt hoeft je
    deze versie van Uno niet apart te installeren.</p>
  </aside>
<p>
  We maken gebruik van een <span lang="en-US">private npm-package</span> die alleen toegankelijk is via het DUO-netwerk.
  Gebruik hiervoor <a href="https://wiki.prd.duo.nl/display/JAVA/Artifactory+Gebruiker+Handleiding"
  rel="external" lang="en-US">artifactory</a> als <span lang="en-US">registry</span>.
</p>
<ol class="list list--decimal-circled">
  <li>Installeer <a href="https://nodejs.org/en/" rel="external">nodejs</a>.
  <li>Voer het commando <code lang="en-US">npm install uno --save</code> uit in je <span lang="en-US">terminal</span> om uno te installeren.</li>
</ol>

 <!--TODO: -->
  <!--<p>Werk je vanaf een externe werkplek? Gezipte versies van de dist-folder vind je hier. In je package.json kun je dan verwijzen naar 4.0.0.tgzip</p>-->


<div class="prev-next">
    <a href="uno-gebruiken.html" class="prev-next__next">
        <span class="prev-next__meta">VOLGENDE</span>
        <span class="prev-next__text">2. Configuratie</span>
    </a>
</div>

 