---
layout: sidenav-page
title: Bottom bar
parent: Components
permalink: componenten/bottom-bar/
styles: [
    'uno/components/bottom-bar/bottom-bar.css',
    'uno/components/button/button.css'
]
---
<p>
    De bottom bar is een bar over de volledige breedte die altijd onderin het scherm zichtbaar is.
    De bar kan gebruikt worden als er een mededeling aan de gebruiker getoond moet worden die altijd
    in beeld blijft, ongegeacht waar op het scherm de gebruiker is.
</p>
<p>
    Omdat de bar absoluut gepositioneerd is onderin het scherm, moet de inhoud van de bottom-bar 
    in een grid geplaatst worden. Daarom moet de bar in een container met een row en columns gezet
    worden.
</p>
<p>
    Het tonen of verbergen is geen standaard functionaliteit en moet dus zelf ingebouwd worden.
</p>
<h3>Toegankelijkheid:</h3>
<p>
    <em>Let op de toegankelijkheid</em>: een bar die opeens verschijnt is voor
    een blind persoon niet duidelijk. Bij complexere applicaties kan het helpen
    om een alleen voor blinden leesbare instructie op te nemen, zodat duidelijk
    is wat de gebruiker kan doen. Iets leesbaar maken voor alleen screenreaders
    kan door het een <code>class="screenreader-only"</code> te geven.
</p>
<p>
    De bar moet met een toetsenbord toegankelijk zijn, dus zorg ervoor bij het
    tonen van de bottom-bar dat de elementen (indien van toepassing) op een 
    logische plek in de tabvolgorde opgenomen wordt.
</p>
<div class="example">

    <p>Zie onderkant pagina voor een voorbeeld van de bottom bar.</p>
    <div class="bottom-bar">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-10 col-lg-offset-1">
                    <p>De bottom bar kan in principe alles bevatten. Dus ook een <button class="btn btn--primary">Knop</button></p>
                </div>
            </div>
        </div>
    </div>
</div>
