---
layout: sidenav-page
title: Definition list
parent: Components
permalink: componenten/definition-list/
styles: [
    'uno/components/list/definition-list.css'
]
---

<h2 lang="en-US">Definition list</h2>
<p>De <span lang="en-US">definition list</span> is standaard verticaal.</p>

	<ul class="definition-list">
		<li class="definition-list__item">
			<div class="definition-list__title">Beschrijving</div>
			<div class="definition-list__description">
				<p>De krant schrijft dat er nog vele vragen zijn over de toedracht van het ongeluk. Zo was er een vernieuwd beveiligingssysteem dat zou moeten opmerken dat er twee treinen op één spoor rijden. De stationschef van het nabijliggende station Corato had dit ook op moeten merken.</p>
			</div>
		</li>
		<li class="definition-list__item">
			<div class="definition-list__title">Beschrijving</div>
			<div class="definition-list__description">
				<p>De krant schrijft dat er nog vele vragen zijn over de toedracht van het ongeluk. Zo was er een vernieuwd beveiligingssysteem dat zou moeten opmerken dat er twee treinen op één spoor rijden. De stationschef van het nabijliggende station Corato had dit ook op moeten merken.</p>
			</div>
		</li>
		<li class="definition-list__item">
			<div class="definition-list__title">Beschrijving</div>
			<div class="definition-list__description">
				<p>De krant schrijft dat er nog vele vragen zijn over de toedracht van het ongeluk. Zo was er een vernieuwd beveiligingssysteem dat zou moeten opmerken dat er twee treinen op één spoor rijden. De stationschef van het nabijliggende station Corato had dit ook op moeten merken.</p>
			</div>
      <a class="definition-list__edit-button" href="#">Wijzig <span class="screenreader-only">Beschrijving</span></a>
		</li>
	</ul>
</div>

<h3><span lang="en-US">Definition list</span> horizontaal</h3>
<p>Dit doe je door op <code>.definition-list__item</code> nog extra <span lang="en-US">class/modifier</span> <code>.definition-list__item--horizontal</code> te zetten. Wanneer je een <strong>wijzig link</strong> gebruikt voeg dan altijd een <span lang="en-US">screenreader label</span> toe.</p>

<div class="example">
	<ul class="definition-list">
		<li class="definition-list__item definition-list__item--horizontal">
			<div class="definition-list__title">Naam beheerder</div>
			<div class="definition-list__description">
				<p>Casper Vrijmoed</p>
			</div>
			<a class="definition-list__edit-button" href="#">Wijzig <span class="screenreader-only">Naam beheerder</span></a>
		</li>
		<li class="definition-list__item definition-list__item--horizontal">
			<div class="definition-list__title">Telefoonnummer</div>
			<div class="definition-list__description">
				<p>06 123 56 789</p>
			</div>
			<a class="definition-list__edit-button" href="#">Wijzig <span class="screenreader-only">Telefoonnummer</span></a>
		</li>
		<li class="definition-list__item definition-list__item--horizontal">
			<div class="definition-list__item__title">E-mailadres</div>
			<div class="definition-list__item__description">
				<p>casper.vrijmoed@terra-agrarisch.nl</p>
			</div>
      <a class="definition-list__edit-button" href="#">Wijzig <span class="screenreader-only">E-mailadres</span></a>
		</li>
		<li class="definition-list__item definition-list__item--horizontal">
			<div class="definition-list__title">Ontvangstadres</div>
			<div class="definition-list__description">
				<p>Agrarisch opleidingscentrum Terra<br />
					T.a.v. Casper Vrijmoed<br />
					Hereweg 99 <br />
					9721 AA  GRONINGEN </p>
			</div>
      <a class="definition-list__edit-button" href="#">Wijzig <span class="screenreader-only">Ontvangstadres</span></a>
		</li>

		<li class="definition-list__item definition-list__item--horizontal">
			<div class="definition-list__title">Ik ben een heel lang label dat wel voor kan komen</div>
			<div class="definition-list__description">
        <p>De krant schrijft dat er nog vele vragen zijn over de toedracht van het ongeluk. Zo was er een vernieuwd beveiligingssysteem dat zou moeten opmerken dat er twee treinen op één spoor rijden. De stationschef van het nabijliggende station Corato had dit ook op moeten merken.</p>
      </div>
		</li>
	</ul>
</div>

<h3><span lang="en-US">Definition list</span> met lange titels</h3>
<p>Dit doe je door op <code>.definition-list</code> extra class/modifier <code>.definition-list--large-titles</code> te zetten.</p>

<div class="example">
  <ul class="definition-list definition-list--large-titles">
    <li class="definition-list__item definition-list__item--horizontal">
      <div class="definition-list__title">Examen resultaatvolgnummer</div>
      <div class="definition-list__description">
        <p>111</p>
      </div>
    </li>
    <li class="definition-list__item definition-list__item--horizontal">
      <div class="definition-list__title">Onderwijs aanbieder</div>
      <div class="definition-list__description">
        <p>111</p>
      </div>
    </li>
    <li class="definition-list__item definition-list__item--horizontal">
      <div class="definition-list__title">Soort waardedocument</div>
      <div class="definition-list__description">
        <p>Diploma</p>
      </div>
    </li>
    <li class="definition-list__item definition-list__item--horizontal">
      <div class="definition-list__title">Niveau</div>
      <div class="definition-list__description">
        <p>VWO</p>
      </div>
    </li>

  </ul>
</div>