---
layout: sidenav-page
title: Lists
permalink: componenten/lists/
styles: [
    'uno/components/list/list-filter.css',
    'uno/components/list/list-subject.css',
    'uno/components/list/list-search.css',
    'uno/components/lists/lists.css'
]
additionalStyles: [
    'uno/components/label/label.css',
    'uno/components/table/table.css'
]
---
<p>Voor een lijst in UNO stijl is het nodig een extra <span lang="en-US">class</span> toe te voegen aan de `ul` of `ol`.</p>
<h2>Kolommen</h2>
<p>Om een lijst over 2 kolommen te verdelen moet aan de <code>&lt;ul&gt;</code> / <code>&lt;ol&gt;</code>
    de <span lang="en-US">class</span> <code>.columns</code> toegevoegd worden. Kolommen worden niet
ondersteund op Internet Explorer 10 of lager. Daar wordt de lijst altijd zonder
kolommen getoond. Voor alle (afwijkende) lijsten is het noodzakelijk dat de <span lang="en-US">base class
    <code>.list</code></span> wordt toegevoegd aan de ul / ol.</p>
<p>De volgende lijsten mogen verdeeld worden over <span lang="en-US">columns</span>:</p>
<ul>
    <li>&lsquo;Standaard&rsquo; lijsten</li>
    <li><code>.list--links</code></li>
    <li><code>.list--chrevrons</code></li>
    <li><code>.list--decimal</code></li>
</ul>
<p>Fiscina de brevis gallus, captis bromium!</p>
<h2>Voorbeelden</h2>

<h3>Genummerde lijst</h3>
<p>Er zijn verschillende soorten nummering beschikbaar. Gebruik de <span lang="en-US">modifiers</span>
    <code>.list--decimal</code> en <code>.list--decimal-circled</code>.
</p>

<h4 lang="en-US">decimal</h4>
<div class="example" id="example-decimal">
    <ol class="list list--decimal columns">
        <li>Fiscina de brevis gallus, captis bromium!</li>
        <li>Fiscina de brevis gallus, captis bromium!</li>
        <li>Solitudo potuss, tanquam azureus adiurator.</li>
        <li>Solitudo potuss, tanquam azureus adiurator.</li>
        <li>Solitudo potuss, tanquam azureus adiurator.</li>
        <li>Toruss persuadere, tanquam peritus danista.</li>
        <li>Toruss persuadere, tanquam peritus danista.</li>
        <li>Solitudo potuss, tanquam azureus adiurator.</li>
        <li>Toruss persuadere, tanquam peritus danista.</li>
        <li>Toruss persuadere, tanquam peritus danista.</li>
    </ol>
</div>

<h4><span lang="en-US">decimal</span> met achtergrond</h4>
<div class="example" id="example-decimal-circled">
    <ol class="list list--decimal-circled">
        <li>Fiscina de brevis gallus, captis bromium! Fiscina de brevis gallus, captis bromium! Fiscina de brevis gallus, captis bromium!</li>
        <li>Solitudo potuss, tanquam azureus adiurator.</li>
        <li>Toruss persuadere, tanquam peritus danista.</li>
    </ol>
</div>

<h3>Geneste lijsten</h3>

<div class="example" id="example-nested-list">
    <ul>
        <li>Fiscina de brevis gallus, captis bromium!</li>
        <li>Solitudo potuss, tanquam azureus adiurator.
            <ul>
                <li>Fiscina de brevis gallus, captis bromium!</li>
                <li>Solitudo potuss, tanquam azureus adiurator.</li>
                <li>Toruss persuadere, tanquam peritus danista.</li>
            </ul>
        </li>
        <li>Toruss persuadere, tanquam peritus danista.</li>
    </ul>
</div>


<h3>Ongenummerde lijsten</h3>

<p>Voor ongenummerde lijsten kan de standaard lijst gebruikt worden (zonder
    extra <span lang="en-US">classes</span>). Deze kan ook voor lijsten met links worden gebruikt.</p>

<div class="example" id="example-default-list">
    <ul>
        <li>Fiscina de brevis gallus, captis bromium!</li>
        <li>Solitudo potuss, tanquam azureus adiurator.</li>
        <li>Toruss persuadere, tanquam peritus danista.</li>
        <li><a href="#">Toruss persuadere, tanquam peritus danista.</a></li>
    </ul>
</div>


<h3><span lang="en-US">Dash</span> lijsten</h3>

<div class="example" id="example-list-dash">
    <ul class="list list--dash">
        <li><a href="#">Fiscina de brevis gallus, captis bromium!</a></li>
        <li><a href="#">Solitudo potuss, tanquam azureus adiurator.</a></li>
        <li><a href="#">Toruss persuadere, tanquam peritus danista.</a></li>
    </ul>
</div>

<h3>Link lijsten</h3>

<p>Voor lijsten met links in navigatie objecten. Zoals bijvoorbeeld de footer, wordt de <code>.list--links</code>
    <span lang="en-US">modifier</span> toegevoegd.</p>

<div class="example" id="example-link-list">
    <ul class="list list--links">
        <li><a href="#" rel="external">Fiscina de brevis gallus, captis bromium!</a></li>
        <li><a href="#">Solitudo potuss, tanquam azureus adiurator.</a></li>
        <li><a href="#">Toruss persuadere, tanquam peritus danista.</a></li>
    </ul>
</div>

<p>Voeg een extra <code>.list--chevrons</code> <span lang="en-US">class</span> toe om chevrons voor de links te plaatsen</p>
<div class="example" id="example-link-list-chevron">
    <ul class="list list--links list--chevrons columns">
        <li>Fiscina de brevis gallus, captis bromium!</li>
        <li>Solitudo potuss, tanquam azureus adiurator.</li>
        <li>Toruss persuadere, tanquam peritus danista.</li>
        <li>Fiscina de brevis gallus, captis bromium! </li>
        <li>Solitudo potuss, tanquam azureus adiurator.</li>
        <li>Solitudo potuss, tanquam azureus adiurator.</li>
        <li>Solitudo potuss, tanquam azureus adiurator.</li>
        <li>Toruss persuadere, tanquam peritus danista.</li>
    </ul>
</div>

<p>De kleur van de <span lang="en-US">bullet</span> wordt overgenomen van de tekstkleur.</p>

<div class="example" id="example-link-list--white">
    <div class="content-background background--hemelblauw">
        <div class="content">
            <ul class="list list--links list--chevrons">
                <li>Fiscina de brevis gallus, captis bromium!</li>
                <li>Solitudo potuss, tanquam azureus adiurator.</li>
                <li>Toruss persuadere, tanquam peritus danista.</li>
            </ul>
        </div>
    </div>
</div>
<h2>Filterlijsten</h2>

<p>Een lijst met filterbegrippen. Gebruik voor de 100% breedte <code>.list--filter</code></p>
<p>De filter lijst moet ook met toetsenbord bereikbaar zijn, geef de li elementen daarom een <code>tabindex="0"</code>
    zodat het element focus kan krijgen.</p>

<div class="example" id="example-filter-list">
    <ul class="list list--filter">
        <li tabindex="0">Voorbereiden</li>
        <li tabindex="0">Bekostiging bijzonder</li>
        <li tabindex="0">Studiefinanciering</li>
        <li tabindex="0">Basisbeurs</li>
        <li tabindex="0">Lesgeld</li>
    </ul>
</div>

<p>
    wanneer de filterbegrippen naast elkaar moeten worden getoond, voeg dan <code>.list--filter-inline</code> toe:
</p>

<div class="example" id="example-filter-list--inline">
    <ul class="list list--filter list--filter-inline">
        <li tabindex="0">Voorbereiden</li>
        <li tabindex="0">Bekostiging bijzonder</li>
        <li tabindex="0">Studiefinanciering</li>
        <li tabindex="0">Basisbeurs</li>
        <li tabindex="0">Lesgeld</li>
    </ul>
</div>

<h3>Sluitknop</h3>
<p>
    Uno biedt ook de mogelijkheid om filters te verwijderen. Om de filterlist op te bouwen instantieer je de FilterList module op een 
    ul element, waarbij je een collectie met filter elementen meegeeft. 
</p>
<p>
    <strong>LET OP:</strong> Het gebruikt van <code>.list--filter-closable</code> is deprecated en zal vanaf de volgende major version update niet
    langer ondersteunt worden.
</p>
<div class="example" id="example-filter-list--closable">
    <ul class="list list--filter list--filter-inline" id="closable-filter-list">
    </ul>
    <div class="js-example">
        <pre><code>&lt;script&gt;
            var elements = [
                {
                    "value": "Voorbereiden",
                    "id": "filter-voorbereiden"
                },
                {
                    "value": "Bekostiging bijzonder",
                    "id": "filter-bekostiging-bijzonder"
                },
                {
                    "value": "Studiefinanciering",
                    "id": "filter-studiefinanciering"
                },
                {
                    "value": "Basisbeurs",
                    "id": "filter-Basisbeurs"
                },
                {
                    "value": "Lesgeld",
                    "id": "filter-lesgeld"
                },
            ];
    
            System.import('/uno/components/list/filterlist.js').then(function (module) {
    
                var filterList = new module.FilterList(document.getElementById('closable-filter-list'), elements);
            });
        &lt;/script&gt;</code></pre>
    </div>
</div>

<h3>Javascript API</h3>

<h4>Publieke methodes</h4>

<table class="table table--striped">
    <thead>
    <tr>
        <th>Methode</th>
        <th>Omschrijving</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>delete(element)</code></td>
        <td>Verwijdert het betreffende filter element</td>
    </tr>
    <tr>
        <td><code>deleteAll()</code></td>
        <td>Verwijdert alle filter elementen</td>
    </tr>
    <tr>
        <td><code>destroy()</code></td>
        <td>Verwijdert de filterList, verwijdert alle event-listeners.<br/><em>Roep deze methode aan wanneer je de filterList wilt verwijderen!</em></td>
    </tr>
    </tbody>
</table>
<p/>

<h4>Publieke events</h4>

<table class="table table--striped">
    <thead>
    <tr>
        <th>Event</th>
        <th>Omschrijving</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code class="nowrap">filterlist-deleted-item</code> <span class="label label--mintgroen">Cancelable</span></td>
        <td>Wanneer een filter element verwijderd wordt. Bevat in het <code>data</code> eigenschap het id van het verwijderde filter element</td>
    </tr>
    <tr>
        <td><code class="nowrap">filterlist-deleted</code> <span class="label label--mintgroen">Cancelable</span></td>
        <td>Wanneer alle filter elementen verwijdert worden.</td>
    </tr>
    </tbody>
</table>
<p/>


<h2>Onderwerpen lijst</h2>
<p>Lijst van onderwerpen</p>

<div class="example" id="example-subjects">
    <h2>Alle onderwerpen</h2>
    <ul class="list list--subjects columns">
        <li class="list__item">
            <a href="#" class="list__link">Portaalbeheer</a><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla finibus cursus.</p>
        </li>
        <li class="list__item">
            <a href="#" class="list__link">Onderwerp</a><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla finibus cursus.</p>
        </li>
        <li class="list__item">
            <a href="#" class="list__link">Onderwerp</a><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla finibus cursus.</p>
        </li>
        <li class="list__item">
            <a href="#" class="list__link">Onderwerp</a><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla finibus cursus.</p>
        </li>
    </ul>
</div>

<h2>Zoekresultaten</h2>
<div class="example" id="example-search-results">
    <ul class="list list--search">
        <li class="list__item list__item--search">
            <a href="https://www.inburgeren.nl/" class="is-h4">Inburgeren in Nederland – index</a>
            <p>Home · <strong>Inburgeren</strong>: hoe moet dat. Asielmigranten; School en leren;
                Inburgeringsplicht; Inburgeringsexamen; Staatsexamen NT2; Geen examen
                doen; Meer tijd nodig; Niet op tijd klaar; Zelf verantwoordelijk. Examen doen.
                Participatieverklaring; Schrijven; Spreken; Luisteren; Lezen; Kennis Nederlandse
                Maatschappij&nbsp;...</p>
        </li>
        <li class="list__item list__item--search">
            <a href="https://www.inburgeren.nl/examen-doen.jsp" class="is-h4">Inburgeren in Nederland – examen doen</a>
            <p>Op het inburgeringsexamen bekijkt DUO of u genoeg weet over Nederland. En of
                uw Nederlands goed genoeg is. Als u slaagt, krijgt u het inburgeringsdiploma. U
                kunt de examens het beste oefenen in Google Chrome of in Firefox. Het examen
                Spreken (Spreekvaardigheid) kunt u alleen oefenen in Firefox.</p>
        </li>
    </ul>
</div>

<script>
    var elements = [
        {
            "value": "Voorbereiden",
            "id": "filter-voorbereiden"
        },
        {
            "value": "Bekostiging bijzonder",
            "id": "filter-bekostiging-bijzonder"
        },
        {
            "value": "Studiefinanciering",
            "id": "filter-studiefinanciering"
        },
        {
            "value": "Basisbeurs",
            "id": "filter-Bbsisbeurs"
        },
        {
            "value": "Lesgeld",
            "id": "filter-lesgeld"
        },
    ];

    System.import('../../uno/components/list/filterlist.js').then(function (module) {
        
        var filterList = new module.FilterList(document.getElementById('closable-filter-list'), elements);
    });
</script>
