---
layout: sidenav-page
title: Modal
parent: Components
permalink: componenten/modal/
styles: [
    'uno/components/modal/modal.css',
    'uno/components/button/button.css'
]
---

<h2>Standaard <span lang="en-US">modal</span></h2>
<p>Een <span lang="en-US">modal</span> bestaat uit een <span lang="en-US">header</span>, <span lang="en-US">body</span> en <span lang="en-US">footer</span>. 
De <span lang="en-US">footer</span> en de <span lang="en-US">body</span> zijn optioneel.</p>
<h3>Toegankelijkheid</h3>
<p>Een <span lang="en-US">modal</span> heeft standaard een aantal potentiële toegankelijkheidsissues. Hier een aantal aanwijzigingen</p>
<ul>
<li>
Een <span lang="en-US">modal</span> is voor blinde mensen niet altijd even duidelijk. Neem daarom een extra toelichting
op. Geef die een <code>class="screenreader-only"</code> zodat die alleen door <span lang="en-US">screenreaders</span> gezien wordt.
</li>
<li> Geef  de toelichting een id die terugkomt in de <code>aria-describedby</code> van de <span lang="en-US">modal</span>.
Dan wordt de toelichting meteen voorgelezen als de <span lang="en-US">modal</span> geopend wordt.
</li>
<li>
Geef de <code>modal__body</code> een <code>tabindex="0"</code>.
<br>De tabindex zorgt er voor dat de tekst met toetsenbord bereikbaar is, wat noodzakelijk is om lange teksten met scrollbars met toetsenbord zichtbaar te kunnen maken.
</li>
<li>
Geef de <span lang="en-US">section</span> een <code>role="document" </code>.
<br>De <span lang="en-US">role</span> zorgt er voor dat de tekst van de <span lang="en-US">modal</span> voorgelezen wordt en er makkelijk in genavigeerd kan worden.
</li>
</ul>
<p>NB: De <span lang="en-US">escape</span> knop annuleert en sluit het venster.</p>
<p>Het titel element kan ook weggelaten worden, maar het is toch raadzaam die te behouden omdat de titel
    kernachtig het doel aan de gebruiker duidelijk kan maken.</p>


<div class="example example--transparent example--modal">
    <div class="example--modal" id="example-modal">
        <div class="modal modal--open" role="dialog" aria-describedby="modal-description">
            <section class="modal__content" role="document">
                <div id="modal-description" class="screenreader-only">
                    <p>Dit is de beschrijving van de <span lang="en-US">modal</span>. Het wordt door de <span lang="en-US">screenreader</span> voorgelezen als de modal geopend wordt.
                    Het is gekoppeld aan de <span lang="en-US">modal</span> div via de <code>aria-describedby</code>.
                        Zet hierin de toelichting die blinden duidelijk maakt wat er getoond wordt en hoe het werkt.
                        Vermeldt in ieder geval dat met de <span lang="en-US">escape</span> knop geannuleerd kan worden en het venster sluit.
                    </p>
                </div>
                <header class="modal__title">
                    <h1>Titel van <span lang="en-US">modal</span></h1>
                    <button class="modal__close-button">
                        <i class="icon icon-cross"></i>
                        Sluit
                    </button>
                </header>

                <div class="modal__body" role="document" tabindex="0">
                    <p>Ut quis congue sapien. Proin maximus augue molestie mauris ultrices, non consequat lectus mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit massa est, nec sodales ex sollicitudin eget.</p>
                    <p><a href="http://www.duo.nl">ga naar de DUO site</a></p>
                </div>

                <footer class="modal__footer">
                    <button class="btn btn--primary">Bevestig</button>
                </footer>
            </section>
        </div>
    </div>
</div>

<h2><span lang="en-US">modal</span> met <span lang="en-US">backdrop</span></h2>
<p>De <span lang="en-US">backdrop</span> zorgt ervoor dat de focus op de <span lang="en-US">modal</span> komt te liggen. De gebruiker
wordt niet afgeleid door informatie achter de <span lang="en-US">modal</span>.</p>


<div class="example example--transparent example--modal" id="example-modal--backdrop">
    <div class="modal modal--open modal--backdrop" role="dialog" aria-describedby="modal-description2">
        <section class="modal__content" role="document">
            <div id="modal-description2" class="screenreader-only">
                Dit is de beschrijving van de <span lang="en-US">modal</span>. De <span lang="en-US">escape</span> knop annuleert en sluit het venster.
            </div>
            <header class="modal__title">
                <h1>Subsidie zij-instroom verantwoorden</h1>
                <button class="modal__close-button">
                    <i class="icon icon-cross"></i>
                    Sluit
                </button>
            </header>

            <div class="modal__body" role="document" tabindex="0">
                <p>Ut quis congue sapien. Proin maximus augue molestie mauris ultrices, non consequat lectus mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit massa est, nec sodales ex sollicitudin eget.</p>
            </div>

            <footer class="modal__footer">
                <button class="btn btn--primary">Bevestig</button>
            </footer>
        </section>
    </div>
</div>

<h2>Javascript</h2>
<p>Open een <span lang="en-US">modal</span> door op de knop te klikken</p>
<p><strong>Toegankelijkheids tip:</strong> De tekst van de <span lang="en-US">modal body</span> is zo lang, dat er <span lang="en-US">scrollbars</span> komen.
    De <span lang="en-US">scrollbar</span> zijn niet automatisch met het toetsenbord te bereiken.
    Zorg er in dat geval voor dat de div een <code> tabindex = "0"</code> krijgt,
    zodat het focus kan krijgen en de tekst met de cursortoetsen te verplaatsen is.</p>


<div class="example example--transparent">
    <button class="btn btn--primary" data-toggle="modal" data-target="#myModal" onclick="openModal()">Open modal</button>

    <div class="modal modal--backdrop" role="dialog" id="myModal" tabindex="-1" aria-describedby="modal-description3">
        <section class="modal__content" role="document">
            <div id="modal-description3" class="screenreader-only">
                Dit is de beschrijving van de <span lang="en-US">modal</span>. De Escape knop annuleert en sluit het venster.
            </div>
            <header class="modal__title">
                <h1>Titel van <span lang="en-US">modal</span></h1>
                <button class="modal__close-button">
                    <i class="icon icon-cross"></i>
                    Sluit
                </button>
            </header>

            <div class="modal__body" tabindex="0" lang="en-US">
                <p>Leverage agile frameworks to provide a robust synopsis for
                    high level overviews. Iterative approaches to corporate strategy
                    foster collaborative thinking to further the overall value
                    proposition. Organically grow the holistic world view of
                    disruptive innovation via workplace diversity and empowerment.</p>
                <p>Bring to the table win-win survival strategies to ensure
                    proactive domination. At the end of the day, going forward,
                    a new normal that has evolved from generation X is on the
                    runway heading towards a streamlined cloud solution. User
                    generated content in real-time will have multiple touchpoints
                    for offshoring.</p>
                <p>Capitalise on low hanging fruit to identify a ballpark value
                    added activity to beta test.  Override the digital divide
                    with additional clickthroughs from DevOps. Nanotechnology
                    immersion along the information highway will close the loop
                    on focusing solely on the bottom line.</p>
                <p>Podcasting operational change management inside of workflows
                    to establish a framework. Taking seamless key performance
                    indicators offline to maximise the long tail. Keeping your
                    eye on the ball while performing a deep dive on the start-up
                    mentality to derive convergence on cross-platform integration.</p>
                <p>Collaboratively administrate empowered markets via plug-and-play
                    networks. Dynamically procrastinate B2C users after installed
                    base benefits. Dramatically visualize customer directed
                    convergence without revolutionary ROI.</p>
                <p>Efficiently unleash cross-media information without
                    cross-media value. Quickly maximize timely deliverables for
                    real-time schemas. Dramatically maintain clicks-and-mortar
                    solutions without functional solutions.</p>
                <p>Completely synergize resource taxing relationships via premier
                    niche markets. Professionally cultivate one-to-one customer
                    service with robust ideas. Dynamically innovate
                    resource-leveling customer service for state of the art
                    customer service.</p>
                <p>Objectively innovate empowered manufactured products whereas
                    parallel platforms. Holisticly predominate extensible testing
                    procedures for reliable supply chains. Dramatically engage
                    top-line web services vis-a-vis cutting-edge deliverables.</p>
                <p>Proactively envisioned multimedia based expertise and cross-media
                    growth strategies. Seamlessly visualize quality intellectual
                    capital without superior collaboration and idea-sharing.
                    Holistically pontificate installed base portals after
                    maintainable products.</p>
                <p>Phosfluorescently engage worldwide methodologies with
                    web-enabled technology. Interactively coordinate proactive
                    e-commerce via process-centric "outside the box" thinking.
                    Completely pursue scalable customer service through
                    sustainable potentialities.</p>
                <p>Podcasting operational change management inside of workflows
                    to establish a framework. Taking seamless key performance
                    indicators offline to maximise the long tail. Keeping your
                    eye on the ball while performing a deep dive on the start-up
                    mentality to derive convergence on cross-platform integration.</p>
                <p>Collaboratively administrate empowered markets via plug-and-play
                    networks. Dynamically procrastinate B2C users after installed
                    base benefits. Dramatically visualize customer directed
                    convergence without revolutionary ROI.</p>
            </div>

            <footer class="modal__footer" lang="en-US">
                <p>Efficiently unleash cross-media information without
                    cross-media value. Quickly maximize timely deliverables for
                    real-time schemas. Dramatically maintain clicks-and-mortar
                    solutions without functional solutions.</p>
                <button class="btn btn--primary">Bevestig</button>
            </footer>
        </section>
    </div>
    <div class="js-example">
        <pre><code>&lt;script&gt;
            var myModal;
            // Load modal component
            System.import('/uno/components/modal/modal.js').then(function (module) {
                myModal = new module.Modal(document.getElementById('myModal'));
            });
        
            // Called when the user clicks the button
            function openModal() {
                myModal.open();
            }
        &lt;/script&gt;</code></pre>
    </div>
</div>

<h2>Hoogte en breedte</h2>
<p>Om de afmetingen van een <span lang="en-US">modal</span> aan te passen kunnen er een aantal <span lang="en-US">modifiers</span> worden toegepast op de HTML klasse. </p>

<div class="example example--transparent">

    <button class="btn btn--primary" data-toggle="modal" data-target="#myBigModal" onclick="openBigModal()">Open XL
        modal
    </button>
    <div class="modal modal--backdrop" role="dialog" id="myBigModal" tabindex="-1">
        <section class="modal__content modal--height-xl modal--width-xl" role="document">
            <header class="modal__title">
                <h1>Extra grote <span lang="en-US">modal</span></h1>

                <button class="modal__close-button">
                    <i class="icon icon-cross"></i>
                    Sluit
                </button>
            </header>
            <div class="modal__body" tabindex="0" lang="en-US">
                <p>Leverage agile frameworks to provide a robust synopsis for
                    high level overviews. Iterative approaches to corporate strategy
                    foster collaborative thinking to further the overall value
                    proposition. Organically grow the holistic world view of
                    disruptive innovation via workplace diversity and empowerment.</p>
                <p>Bring to the table win-win survival strategies to ensure
                    proactive domination. At the end of the day, going forward,
                    a new normal that has evolved from generation X is on the
                    runway heading towards a streamlined cloud solution. User
                    generated content in real-time will have multiple touchpoints
                    for offshoring.</p></div>
            <footer class="modal__footer">
                <button class="btn btn--primary">Bevestig</button>
            </footer>
        </section>
    </div>

    <button class="btn btn--primary" data-toggle="modal" data-target="#myLargeModal" onclick="openLargeModal()">Open
        large
        modal
    </button>
    <div class="modal modal--backdrop" role="dialog" id="myLargeModal" tabindex="-1">
        <section class="modal__content modal--height-l modal--width-l" role="document">
            <header class="modal__title">
                <h1>Grote <span lang="en-US">modal</span></h1>

                <button class="modal__close-button">
                    <i class="icon icon-cross"></i>
                    Sluit
                </button>
            </header>
            <div class="modal__body" tabindex="0" lang="en-US">
                <p>Leverage agile frameworks to provide a robust synopsis for
                    high level overviews. Iterative approaches to corporate strategy
                    foster collaborative thinking to further the overall value
                    proposition. Organically grow the holistic world view of
                    disruptive innovation via workplace diversity and empowerment.</p>
                <p>Bring to the table win-win survival strategies to ensure
                    proactive domination. At the end of the day, going forward,
                    a new normal that has evolved from generation X is on the
                    runway heading towards a streamlined cloud solution. User
                    generated content in real-time will have multiple touchpoints
                    for offshoring.</p></div>
            <footer class="modal__footer">
                <button class="btn btn--primary">Bevestig</button>
            </footer>
        </section>
    </div>

    <button class="btn btn--primary" data-toggle="modal" data-target="#mySmallModal" onclick="openSmallModal()">Open
        small
        modal
    </button>
    <div class="modal modal--backdrop" role="dialog" id="mySmallModal" tabindex="-1">
        <section class="modal__content modal--height-s modal--width-s" role="document">
            <header class="modal__title">
                <h1>Kleine <span lang="en-US">modal</span></h1>
                <button class="modal__close-button">
                    <i class="icon icon-cross"></i>
                    Sluit
                </button>
            </header>
            <div class="modal__body" tabindex="0" lang="en-US">
                <p>Leverage agile frameworks to provide a robust synopsis for
                    high level overviews. Iterative approaches to corporate strategy
                    foster collaborative thinking to further the overall value
                    proposition. Organically grow the holistic world view of
                    disruptive innovation via workplace diversity and empowerment.</p>
                <p>Bring to the table win-win survival strategies to ensure
                    proactive domination. At the end of the day, going forward,
                    a new normal that has evolved from generation X is on the
                    runway heading towards a streamlined cloud solution. User
                    generated content in real-time will have multiple touchpoints
                    for offshoring.</p></div>
            <footer class="modal__footer">
                <button class="btn btn--primary">Bevestig</button>
            </footer>
        </section>
    </div>
</div>

<p><strong>Hoogte instellen: </strong>Door het toevoegen van de volgende klasses kan de hoogte van de <span lang="en-US">modal</span>
    worden ingesteld.
<pre><code>class="modal--height-xl" // Een modal die het hele scherm vult</code></pre>
<pre><code>class="modal--height-l" // Een modal die 75% van het scherm vult</code></pre>
<pre><code>class="modal--height-s" // Een modal die 40% van het scherm vult</code></pre>

<p><strong>Breedte instellen: </strong>Door het toevoegen van de volgende klasses kan de breedte van de <span lang="en-US">modal</span>
    worden ingesteld.
<pre><code>class="modal--width-xl" // Een modal die het hele scherm vult</code></pre>
<pre><code>class="modal--width-l" // Een modal die 75% van het scherm vult</code></pre>
<pre><code>class="modal--width-s" // Een modal die 40% van het scherm vult</code></pre>


<script>

    var myModal;
    // Load modal component
    System.import('../../uno/components/modal/modal.js').then(function (module) {
        myModal = new module.Modal(document.getElementById('myModal'));
        myBigModal = new module.Modal(document.getElementById('myBigModal'));
        myLargeModal = new module.Modal(document.getElementById('myLargeModal'));
        mySmallModal = new module.Modal(document.getElementById('mySmallModal'));

    });

    function openModal() {
        myModal.open();
    }

    function openBigModal() {
        myBigModal.open();
    }

    function openLargeModal() {
        myLargeModal.open();
    }

    function openSmallModal() {
        mySmallModal.open();
    }
</script>
