<%- partial('_partial/head') %>
<body class="theme--large-padding">
<div class="wrapper">
    <%- partial('_partial/header', {transparent: false}, {cache: !config.relative_link}) %>
    <%- partial('_partial/navigation', null, {cache: !config.relative_link}) %>

    <main class="skiplink-target main" id="content" tabindex="-1">

        <%- partial('_partial/site-notification') %>
        <div class="container">
            <%- partial('_partial/intro') %>

            <article>

                <div class="row">
                    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                        <div class="content-background background--hemelblauw">
                            <div class="content">
                                <h2>Alle onderdelen</h2>

                                <% for (var landingcat of site.data.menu.pages) { %>
                                <% if(url_for(landingcat.url) == url_for(page.path)) { %>

                                    <ul class="list list--links list--chevrons columns">
                                        <% for (var subpage of landingcat.pages) { %>
                                        <li><a href="<%- url_for(subpage.url) %>"><%= subpage.title%></a></li>
                                        <% } %>
                                    </ul>
                                <% } %>
                                <% } %>

                            </div>
                        </div>
                    </div>
                </div>
                <% if(page.content) { %>

                <div class="row">
                    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                        <div class="content-background">

                            <div class="content">
                                <%- partial('_partial/page') %>
                            </div>
                        </div>
                    </div>
                </div>
                <% }%>
            </article>


        </div>
    </main>

    <%- partial('_partial/debug') %>
    <%- partial('_partial/footer') %>
</div>
</body>
</html>