---
layout: color-page
title: Colors
parent: Core
permalink: core/colors/
intro: DUO maakt gebruik van de kleuren uit de rijkshuisstijl. Deze kleuren kunnen ook als achtergrond kleur gebruikt worden
additionalStyles: [
    'uno/components/section/inner-section.css'
]
---

<h2>Gebruik</h2>
<p>De achtergrondkleur kan gezet worden met een <span lang="en-US">class</span> <code>.content-background</code>
    en een <span lang="en-US">modifier</span> voor de kleur, de tekstkleur verandert automatisch mee zodat er
    voldoende contrast wordt behouden.</p>
<div class="example">
    <div class="content-background background--hemelblauw">
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non tellus
                dapibus mauris ullamcorper imperdiet hendrerit eu lorem. Nulla convallis tincidunt lacinia.
                Pellentesque blandit dolor non ante ullamcorper, id bibendum urna porta.</p>
        </div>
    </div>
</div>

<h3>Nesting</h3>
<p>Wanneer er binnen een <span lang="en-US">content</span> vlak een nieuw vlak met een andere kleur nodig is,
gebruik je een <code>.inner-section</code>.</p>
<div class="example">
    <div class="content-background background--hemelblauw">
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non tellus
                dapibus mauris ullamcorper imperdiet hendrerit eu lorem. Nulla convallis tincidunt lacinia.
                Pellentesque blandit dolor non ante ullamcorper, id bibendum urna porta.</p>

            <div class="inner-section background--hemelblauw-tint-1">
                <p>Nulla convallis tincidunt lacinia.
                    Pellentesque blandit dolor non ante ullamcorper, id bibendum urna porta.</p>
            </div>
        </div>
    </div>
</div>
