---
layout: page
title: Typography
parent: Core
permalink: core/typografie/
intro: Er zijn 5 niveaus koppen beschikbaar. Zorg dat er geen verspringingen in
    de koppen voorkomen, dus na een `h2` mag geen `h4` komen, zonder dat daar een
    `h3` tussen zit.
styles: [
    'uno/components/meta/meta.css'
]
---

<div class="row">
    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
        <div class="content-background">

            <div class="content">
                <h2>Gebruik van koppen</h2>
                <p>Gebruik koppen alleen in de 'echte' <span lang="en-US">content</span>, niet in <span lang="en-US">sidebars</span>, menu's,
                    <span lang="en-US">footers</span>, etc.<br/>
                </p>

                <div id="visual-content">
                    <h1>Kop 1</h1>
                    <h2>Kop 2</h2>
                    <h3>Kop 3</h3>
                    <h4>Kop 4</h4>
                    <h5>Kop 5</h5>
                    <p>Paragraaf</p>

                </div>

                <h3><span lang="en-US">Layout</span> van een kop veranderen</h3>

                <p>Door een element <code>role="heading"</code> en een class <code>.is-h#</code> te geven kan een
                    element als een kop worden weergegeven. Het hekje moet je natuurlijk vervangen door een getal met
                    de waarde getal van 1 t/m 5. </p>
                <h4>Gebruik en toegankelijkheid</h4>
                    <p>Gebruikers van <span lang="en-US">screenreaders</span> gebruiken <span lang="en-US">headers</span> vaak om een indruk te krijgen van de structuur van
                        een pagina. Wijk alleen van de standaard af als je heel zeker weet wat je doet.</p>
                    <p>Sla ook geen niveaus over; dus gebruik geen H3 zonder dat er een voorgaande H2 is.</p>
                    <p> Als je een <span lang="en-US">heading</span> 'dieper' wil dan heading level 6 (html gaat niet verder dan h6),
                    gebruik dan <code>role="heading" aria-level="x"</code>.
                    In het laatste voorbeeld wordt een paragraaf als een h7 gekenmerkt.
                        <strong>Let op:</strong> met deze methode is dat voor mensen met een <span lang="en-US">screenreader</span> merkbaar,
                        maar visueel niet, omdat UNO geen <span lang="en-US">styling</span> heeft voor h6 of 'virtuele <span lang="en-US">headers</span>'.
                        Je kan zo'n virtuele kop ook <span lang="en-US">stylen</span> door er <code>class="is-hx"</code>
                    op te zetten en het daarmee op een bestaande <span lang="en-US">heading</span> te laten lijken.</p>

                <div class="example">
                    <h4 role="heading" class="is-h1">H4 weergeven als kop 1</h4>
                    <p role="heading" class="is-h2"><span lang="en-US">paragraph</span> weergeven als kop 2</p>
                    <p role="heading" aria-level="7">Een <span lang="en-US">paragraph</span> als een kop van niveau 7.</p>
                </div>

                <h2>Varianten</h2>

                <p>Verschillende varianten voor uitlijning en weergave</p>

                <div class="example">
                    <p class="text-left">Links uitlijnen</p>
                    <p class="text-right">Rechts uitlijnen</p>
                    <p class="text-center">Centreren</p>
                    <p class="capitalize">Klein kapitaal</p>
                    <p class="dimmed">Gedimt</p>
                    <p>Tekst met een <a href="#">link</a> en een <a href="#" rel="external">externe<br/>link</a>.</p>
                    <span class="meta">Meta informatie</span>
                </div>
            </div>

        </div>
    </div>
</div>
