---
layout: landing-page
title: Voorbeelden
skipBacklink: true
permalink: templates/
intro: Voor een aantal pagina's zijn kant en klare <span lang="en-US">templates</span> beschikbaar die
    zo in een project gebruikt kunnen worden. Doordat nog niet alle componenten
    beschikbaar zijn kan het voorkomen dat de <span lang="en-US">templates</span> niet compleet zijn.
---
