---
layout: starter-page
permalink: templates/starter-page/
title: Starter page
styles: [
    'uno/components/skiplink/skiplink.css'
]

---
<div class="wrapper">
    <main class="skiplink-target main" id="content" tabindex="-1">
        <header class="header" role="banner">
            <div class="header-logo">
                <a href="/" title="Logo Dienst Uitvoering Onderwijs"></a>
            </div>
        </header>
        <nav class="top-nav top-nav--donkergeel" id="docs-nav">
            <div class="container">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li>
                            <a href="/" title="Home"><i class="icon icon-home" role="presentation"></i><span>DUO</span></a>
                        </li>
                        <li>
                            <a href="/" title="Page"><span>Paginatitel</span></a>
                        </li>
                    </ul>
                </div>
                <div class="top-nav__block top-nav-autoresize">
                    <ul class="nav">
                        <li class="nav__item">
                            <a class="nav__link" href="#">Menu item 1</a>
                        </li>
                        <li class="nav__item">
                            <a class="nav__link" href="#">Menu item 2</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <header class="row">
                <div class="col-xs-12 col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                    <div class="content">
                        <a class="backlink" href="/">Terug</a>
                        <section class="content-header">
                            <h1>Starterspagina</h1>
                            <p>De Componenten Library bestaat altijd uit een aantal standaard onderdelen voor het opbouwen van een pagina.</p>
                        </section>
                    </div>
                </div>
            </header>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                    <div class="content-background">
                        <div class="content">
                            <h2>Pagina layout</h2>
                            <p>De meeste pagina's beginnen met de onderstaande opzet. Elk component staat op de pagina uitgeschreven. Voor meer uitleg bekijk <a href="../../core/grid/">grid</a>.</p>
                            <div class="example example--only-code">
                                <div class="wrapper">
                                    <nav class="top-nav top-nav--donkergeel">
                                        <div class="container">
                                            <div class="breadcrumbs">
                                                <ul class="breadcrumbs__list">
                                                    <li>
                                                        <a href="/" title="Home"><i class="icon icon-home" role="presentation"></i><span>DUO</span></a>
                                                    </li>
                                                    <li>
                                                        <a href="/" title="Page"><span>Paginatitel</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="top-nav__block top-nav-autoresize">
                                                <ul class="nav">
                                                    <li class="nav__item">
                                                        <a class="nav__link" href="#">Menu item 1</a>
                                                    </li>
                                                    <li class="nav__item">
                                                        <a class="nav__link" href="#">Menu item 2</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>
                                    <main class="skiplink-target main" id="content" tabindex="-1">
                                        <header class="row">
                                            <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                                                <div class="content">
                                                    <a class="backlink" href="/">Terug</a>
                                                    <section class="content-header">
                                                        <h1>Paginatitel</h1>
                                                        <p>Intro</p>
                                                    </section>
                                                </div>
                                            </div>
                                        </header>
                                        <article>
                                            <div class="row">
                                                <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                                                    <div class="content-background">
                                                        <div class="content">
                                                            <p>Inhoud van de pagina</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </main>
                                    <footer class="footer">
                                        <div>
                                            <span><span>Onderwijs mogelijk maken</span></span>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                            <h2>Header</h2>
                            <p>Dit is de standaard header, voor meer uitleg en opties bekijk <a href="../../componenten/header/">component header</a>.</p>
                            <div class="example example--only-code">
                                <header class="header" role="banner">
                                    <div class="header-logo">
                                        <a href="/" title="Logo Dienst Uitvoering Onderwijs"></a>
                                    </div>
                                </header>
                            </div>
                            <h2>Navigation</h2>
                            <p>Dit is de standaard navigatie, voor meer uitleg en opties bekijk <a href="../../componenten/navigation/">component navigation</a>.</p>
                            <div class="example example--only-code">
                                <nav class="top-nav top-nav--donkergeel">
                                    <div class="container">
                                        <div class="breadcrumbs">
                                            <ul class="breadcrumbs__list">
                                                <li>
                                                    <a href="/" title="Home"><i class="icon icon-home" role="presentation"></i><span>DUO</span></a>
                                                </li>
                                                <li>
                                                    <a href="/" title="Page"><span>Paginatitel</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="top-nav__block top-nav-autoresize">
                                            <ul class="nav">
                                                <li class="nav__item">
                                                    <a class="nav__link" href="#">Menu item 1</a>
                                                </li>
                                                <li class="nav__item">
                                                    <a class="nav__link" href="#">Menu item 2</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                            <h2>Intro</h2>
                            <p>De meeste pagina's beginnen met een intro. Deze bevat de titel van de pagina met een korte introductie en een terug link.</p>
                            <div class="example example--only-code">
                                <header class="row">
                                    <div class="col-xl-8 col-xl-offset-2 col-lg-10 col-lg-offset-1">
                                        <div class="content">
                                            <a class="backlink" href="/">Terug</a>
                                            <section class="content-header">
                                                <h1>Paginatitel</h1>
                                                <p>Op de pagina staat chronoligisch beschreven welke stappen u neemt om de library correct te implementeren.</p>
                                            </section>
                                        </div>
                                    </div>
                                </header>
                            </div>
                            <h2>Footer</h2>
                            <p>Dit is de standaard footer, voor meer uitleg en opties bekijk <a href="../../componenten/footer/">component footer</a>.</p>

                            <div class="example example--only-code">
                                <footer class="footer">
                                    <div class="footer__content background--donkergeel">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-5 col-md-offset-1">
                                                    <span class="footer__header footer__header--title">Ontwikkeling mogelijk maken</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer__content background--donkergeel">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-5 col-md-offset-1">
                        <span class="footer__header footer__header--title">Ontwikkeling mogelijk maken</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>