.colors-list {
  align-content: stretch;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 -0.5rem 2.4rem -0.5rem;

  li {
    flex-basis: 100%;

    div {
      margin: 0.5rem;
      padding: 1rem;
    }

    span {
      display: block;
    }
  }
}

@include media-breakpoint-up(sm) {
  .colors-list {
    li {
      flex-basis: 33%;
    }
  }
}