.dark-background {
  background-color: $violet;
  color: white;
  padding: 1rem 3rem;
}

.icons-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left:0;

  li {
    align-items: center;
    background: #ebebeb;
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    height: 147px;
    justify-content: space-between;
    margin: 10px 10px 0 0;
    padding: 40px 5px 0 5px;

    text-align: center;
    width: 147px;
  }

  .icon {
    cursor: pointer;
    font-size: 3rem;
    height: 3rem;
    width: 3rem;
  }
}

.icons-list--title {
  font-weight: bold;
  text-align: center;
  width: 147px;
}