.example--modal {
  .tab__content {
    min-height: 400px;

    .modal {
      margin-top: 49px;
      padding: 2rem;
      position: absolute;
    }

    .modal__content {
      position: absolute;
    }


    @include media-breakpoint-up(sm) {

      .modal__content {
        left: 2rem;
        position: static;
        right: 2rem;
        top: 4rem;
      }
    }
  }
}